@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@400;600&family=Poppins:wght@100;400&family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
  min-height: 1000px;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  width: 100%;
  display: flex;
  padding: 1.5rem 15%;
  justify-content: space-between;
  position: fixed;
  transition: all 0.5s;
  z-index: 999;
}

nav.sticky {
  background-color: #8eff00;
  padding: 0.5rem 15%;
  margin: 1rem 5%;
  border-radius: 50px;
  width: 90%;
  box-shadow: none 10px 100px greenyellow;
}

nav .logo {
  position: relative;
}

nav .logo img {
  width: 50px;
  display: flex;
}

nav ul {
  display: flex;
  position: relative;
  align-items: center;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  margin: 0 2rem;
}

nav.sticky a {
  transition: all 0.3s;
  color: #000000;
}

nav.sticky a:hover {
  color: white;
}

#menuToggle {
  display: none;
}

#menuToggle #menu i {
  font-size: 30px;
}

#hero {
  background: url("../img/background9.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  color: white;
  height: 800px;
  width: 100%;
  padding: 0 8rem;
  box-shadow: inset 800px 0 700px 100px #000000;
}
.judul {
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  width: 43%;
}

.judul p {
  font-size: 55px;
  font-family: "Phudu", cursive;
  font-weight: 600;
}

.judul p span {
  font-family: "Phudu", cursive;
  font-weight: 600;
  color: #8eff00;
}

.judul .title p {
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

:root {
  --btn-bg-color: rgb(255 255 255 / 1);
  --btn-bg-color-hover: rgb(129 120 255 / 1);
  --font-color-white: rgb(255 255 255 / 1);
  --font-color-black: rgb(0 0 0 / 1);
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid #443ffc;
  outline-offset: 3px;
}

a:focus-visible {
  background: none;
}

.button-def {
  width: 200px;
  pointer-events: auto;
  cursor: pointer;
  background: none;
  border: none;
  padding: 1rem 1rem;
  margin: 20px auto;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  color: white;
}

.button-def p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.button-def::before,
.button-def::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-3 {
  color: wheat;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #8eff00;
  position: relative;
}

.button-3::before {
  content: "";
  color: rgb(255, 255, 255);
  background: black;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button-3:hover::before {
  transform: translate3d(100%, 0, 0);
  color: rgb(255, 255, 255);
}

#about {
  padding-top: 6rem;
  min-height: 720px;
  box-shadow: 100px -100px 100px black;
  color: white;
}

.judul-about p {
  color: white;
  font-size: 30px;
  text-align: left;
  margin-left: 100px;
}

.container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.profile-desk {
  display: flex;
  align-items: center;
  width: 50%;
}

.profile-about {
  font-size: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.profile-about img {
  width: 400px;
  cursor: pointer;
  transition: all 0.5s;
  height: 300px;
  object-fit: cover;
  object-position: 0 -100px;
  filter: drop-shadow(0 10px 10px yellowgreen);
}

.profile-about img:hover {
  transform: rotate(9deg);
}

.profile-desk {
  flex-direction: column;
  min-height: 500px;
  align-items: flex-end;
}

.profile-desk i {
  display: flex;
  font-size: 50px;
  z-index: -2;
  margin: 3rem 0;
}

.profile-desk p {
  font-size: 20px;
  text-align: justify;
}

.profile-desk .complete {
  display: flex;
  margin: 30px 0;
  border: 1px solid rgb(83, 83, 83);
  color: #8eff00;
}

.profile-desk .complete .desk {
  padding: 30px;
  border: 1px solid rgb(83, 83, 83);
}

.profile-desk .desk h1 {
  text-align: center;
}

.profile-desk .desk p {
  font-size: 10px;
  text-align: center;
}

#project {
  min-height: 820px;
  padding-top: 8rem;
  padding-bottom: 6rem;
  box-shadow: 100px 100px 100px #1f1f1f;
  background-color: #1f1f1f;
}

.judul-project {
  text-align: center;
}

.judul-project p {
  color: white;
  font-size: 30px;
  text-align: right;
  margin-right: 100px;
}

.title-projek {
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: white;
  margin-left: 100px;
  font-size: 20px;
}

.title-projek p {
  color: #8eff00;
}

.container-projek {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projek {
  width: 300px;
  padding: 30px;
  color: white;
  transition: all 0.5s;
  border-radius: 10px;
  background-color: #55585c;
}

.projek:hover {
  background-color: #8eff00;
  color: #000000;
  transition: all 0.5s;
  box-shadow: 10px 10px 10px #000000;
}

.projek img {
  margin: 0 20px;
  width: 200px;
}

.projek p {
  text-align: center;
}

#skills {
  min-height: 720px;
  padding-top: 6rem;
  background-color: #000000;
}

.judul-skills {
  color: white;
  font-size: 30px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-skill {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 100px 50px;
}

.skill {
  padding: 50px 0;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-size: 50px;
  border: 2px solid rgb(122, 122, 122);
  transition: all 0.5s;
}

.skill:hover {
  background-color: #f1f1f1;
  transition: all 0.5s;
}

.skill i {
  font-size: 100px;
}

#skill-1 {
  color: #e44d26;
}

#skill-2 {
  color: #306af1;
}

#skill-3 p {
  font-size: 40px;
  color: #f7e025;
}

#skill-3 i {
  color: #f7e025;
}

#skill-4 i {
  color: #a55effff;
}

#skill-4 p {
  color: #21befdff;
}

/* Experience */

#experience {
  min-height: 820px;
  padding-top: 6rem;
  box-shadow: 0 50px 8px #131313;
  background-size: cover;
  background-color: #131313;
  background-blend-mode: darken;
  background-image: url("/img/background-exp1.jpg");
}

.judul-exp {
  margin-left: 80px;
}

.judul-exp p {
  font-size: 40px;
  color: #ffffff;
  margin: 20px 0;
}

.experience {
  width: 80%;
  margin: 0 auto;
  color: #ffffff;
}

.experience ul {
  display: flex;
  display: inline-flex;
  justify-content: space-between;
}

.experience ul li {
  margin: 0 100px;
  list-style-position: inside  ;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  #menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    margin-left: 50px;
    margin-top: -30px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: rgb(53, 53, 53);
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
     * Just a quick hamburger
     */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #0fff23;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  header.sticky .menuToggle span {
    background-color: #000000;
  }

  .menuToggle.sticky span #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 250px;
    margin: 0 0 0 -50px;
    padding: 100px 10px;

    background: #29ff5e;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 10px;
    font-size: 22px;
  }

  #menu .icon-menu {
    margin-left: 10px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  #hero {
    background-position-x: -600px;
  }

  /* About Break */

  #about .container {
    flex-direction: column;
  }

  .profile-about {
    text-align: center;
  }

  .profile-about img {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .profile-desk {
    align-items: center;
    width: 100%;
  }

  .profile-desk p {
    text-align: center;
  }

  /* Project */

  .judul-project p {
    text-align: center;
    margin-right: 0;
  }

  .title-projek {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem 0;
    margin-left: 0;
  }

  .projek {
    margin: 3rem 0;
  }

  /* Skills */

  #skills {
    min-height: 1820px;
  }

  .judul-skills {
    margin-left: 0;
    text-align: center;
  }
}
